* {
    margin: 0;
}
.navbar li{
font-size: 50px;
display: flex;
margin: 40px;
}
.navbar li:hover{
    /* filter: invert(91%) sepia(16%) saturate(1728%) hue-rotate(340deg) brightness(137%) contrast(227%); */
    color: greenyellow;
}
.navbar ul{
    position: absolute;
    color: rgb(214, 204, 250);

}
.navParent {
    display: flex;
    justify-content: center;
}
.svgParent {
    text-align: right;
    margin-left: 100px;
    
}
/** Hvorfor Hover popper "projects og about" men ikke Contact */
.top-section li:hover {
    /* filter: invert(39%) sepia(53%) saturate(414%) hue-rotate(147deg) brightness(89%) contrast(85%); */
    font-size: 80px;
}
section {
    background: rgb(54, 24, 88);
    width: 100%;
}

/** Hvorfor går det ikke an å hoover med liste */
/* svg:hover{
    filter: sepia(53%) saturate(414%) hue-rotate(147deg) brightness(89%);
    z-index: -1;
} */
.second-section {
    margin-top: 200px;
}
/** nth-child kanskje for hover effects